# Ignora file binari
*.o
*.out
*.exe

# Ignora directory di build
/build
/bin
/obj

# Ignora file di configurazione specifici dell'IDE
*.user
*.suo
*.swp

# Altri file e directory che non vuoi includere
